
/* Body Colour & Text Font and Also Size*/
body{

    background-color: rgb(253, 238, 240);

}

/*Whole Hero Card*/

.HeroCard{
    display: flex;
    justify-content:space-between;
    gap: 24px;
    position: relative;
  
    

}

/*Hero Left side*/

.HeroL{
    flex:1;
    display:flex;
    align-items: center;
justify-content: center;
flex-direction: column;

}

.HeroTitle{
 position: absolute;
 top: 0%;
 left: 1%;




}
.HeroText{
    flex:0 0 auto;
    display: flex;
  

}

.HeroBtn{
    position: block;
    flex: 0 0 auto;

}



/*Right side */
.HeroR{
    flex:1;
    display: flex;
    justify-content:end;



}
.HeroImg{
    justify-content:center ;
    display: block;
  width:  1000px;
  height: auto;
  object-fit: cover;
  object-position: top;

}
